/*
Theme Name: Sommelier
Theme URI: http://www.sommelierwine.com.br/
Author: Daniel Marcos & Saulo Pratti
Author URI: http://www.wine.com.br/
Description: Este é o tema do blog do Sommelier.
Version: 0.3
License: GNU General Public License
License URI: license.txt
Tags: custom-menu, sticky-post, microformats, rtl-language-support, translation-ready, full-width-template, post-formats

Este é o tema do blog do Sommelier.

*/

/* =Imports
-------------------------------------------------------------- */

/*! normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}
[hidden]{display:none}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html,button,input,select,textarea{font-family:sans-serif}
body{margin:0;font-size:1em;line-height:1.4}
a:focus{outline:thin dotted}
a:hover,a:active{outline:0}
h1{font-size:2em;margin:.67em 0}
h2{font-size:1.5em;margin:.83em 0}
h3{font-size:1.17em;margin:1em 0}
h4{font-size:1em;margin:1.33em 0}
h5{font-size:.83em;margin:1.67em 0}
h6{font-size:.75em;margin:2.33em 0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
blockquote{margin:1em 40px}
dfn{font-style:italic}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
ins{background:#ff9;color:#000;text-decoration:none}
mark{background:#ff0;color:#000}
p,pre{margin:1em 0}
pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
q{quotes:none}
q:before,q:after{content:'';content:none}
small{font-size:85%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-0.5em}
sub{bottom:-0.25em}
dl,menu,ol,ul{margin:1em 0}
dd{margin:0 0 0 40px}
menu,ol,ul{padding:0 0 0 40px}
nav ul,nav ol{list-style:none;list-style-image:none}
img{border:0;vertical-align:middle;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
label{cursor:pointer}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
button,input{line-height:normal}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}
button[disabled],input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top;resize:vertical}
table{border-collapse:collapse;border-spacing:0}
td{vertical-align:top}







/**
 *
 *
 *
 *
 *
 */


/* =Structure
-------------------------------------------------------------- */

#page {
	display: block;
	margin: 1em;
}
#primary {
	float: left;
	margin: 0 -240px 0 0;
	width: 100%;
}
#content {
	margin: 0 280px 0 0;
}
#main .widget-area {
	float: right;
	overflow: hidden;
	width: 220px;
}
#colophon {
	clear: both;
	display: block;
	width: 100%;
}

/* Increase the size of the content area for templates without sidebars */
.full-width #content,
.image-attachment #content,
.error404 #content {
	margin: 0;
}

/* Text meant only for screen readers */
.screen-reader-text,
.assistive-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
}
.alignright {
	display: inline;
	float: right;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/* =Header
-------------------------------------------------------------- */

#site-title {
	font-size: 2em;
	font-weight: bold;
	margin: .67em 0;
}
#site-description {
	font-size: 1em;
	font-weight: normal;
	margin: 0 0 1em;
}


/* =Menu
-------------------------------------------------------------- */

#access {
	background: #eee;
	display: block;
	float: left;
	margin: 0 auto 1em;
	width: 100%;
}
#access ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
#access li {
	float: left;
	position: relative;
}
#access a {
	display: block;
	line-height: 2em;
	padding: 0 1em;
	text-decoration: none;
}
#access ul ul {
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	display: none;
	float: left;
	position: absolute;
	top: 2em;
	left: 0;
	z-index: 99999;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul a {
	background: #dedede;
	line-height: 1em;
	padding: .5em .5em .5em 1em;
	width: 10em;
	height: auto;
}
#access li:hover > a,
#access ul ul :hover > a {
	background: #dedede;
}
#access ul ul a:hover {
	background: #cecece;
}
#access ul li:hover > ul {
	display: block;
}


/* =Content
-------------------------------------------------------------- */

.sticky {
}
.entry-meta {
	clear: both;
	display: block;
}
.single-author .entry-meta .byline {
	display: none;
}
#content nav {
	display: block;
	overflow: hidden;
}
#content nav .nav-previous {
	float: left;
	width: 50%;
}
#content nav .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#content #nav-above {
	display: none;
}
.paged #content #nav-above,
.single #content #nav-above {
	display: block;
}
#nav-below {
	margin: 1em 0 0;
}
.page-link {
	clear: both;
	margin: 0 0 1em;
}
.page .edit-link {
	clear: both;
	display: block;
}

/* 404 page */
.error404 .widget {
	float: left;
	width: 33%;
}
.error404 .widget .widgettitle,
.error404 .widget ul {
	margin-right: 1em;
}
.error404 .widget_tag_cloud {
	clear: both;
	float: none;
	width: 100%;
}

/* Notices */
.post .notice,
.error404 #searchform {
	background: #eee;
	display: block;
	padding: 1em;
}

/* Image Attachments */
.image-attachment div.entry-meta {
	float: left;
}
.image-attachment nav {
	float: right;
	margin: 0 0 1em 0;
}
.image-attachment .entry-content {
	clear: both;
}
.image-attachment .entry-content .entry-attachment {
	background: #eee;
	margin: 0 0 1em;
	padding: 1em;
	text-align: center;
}
.image-attachment .entry-content .attachment {
	display: block;
	margin: 0 auto;
	text-align: center;
}

/* Aside Posts */
.format-aside .entry-header {
	display: none;
}
.single .format-aside .entry-header {
	display: block;
}
.format-aside .entry-content,
.format-aside .entry-summary {
	padding-top: 1em;
}
.single .format-aside .entry-content,
.single .format-aside .entry-summary {
	padding-top: 0;
}

/* Gallery Posts */
.format-gallery .gallery-thumb {
	float: left;
	margin: 0 1em 0 0;
}

/* Image Posts */
.format-image .entry-header {
	display: none;
}
.single .format-image .entry-header {
	display: block;
}
.format-image .entry-content,
.format-image .entry-summary {
	padding-top: 1em;
}
.single .format-image .entry-content,
.single .format-image .entry-summary {
	padding-top: 0;
}


/* =Images
-------------------------------------------------------------- */

a img {
	border: none;
}
p img {
	margin-bottom: 0.5em; /* a small bottom margin prevents content floating under images */
}
/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-area img,
.wp-caption {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
img.alignleft {
	margin-right: 1em;
}
img.alignright {
	margin-left: 1em;
}
.wp-caption {
	padding: .5em;
	text-align: center;
}
.wp-caption img {
	margin: .25em;
}
.wp-caption .wp-caption-text {
	margin: .5em;
}
.gallery-caption {
}
.wp-smiley {
	margin: 0;
}


/* =Forms
-------------------------------------------------------------- */

#searchform label {
	display: none;
}
#searchform input#s {
	width: 60%;
}
input[type=text],
input#s {
	margin: 0 1em 0 0;
	width: 60%;
}
textarea {
	width: 80%;
}

/* Class for labelling required form items */
.required {
	color: #cc0033;
}


/* =Comments
-------------------------------------------------------------- */

article.comment {
	display: block;
}
#respond input[type=text] {
	display: block;
	width: 60%;
}
#respond textarea {
	display: block;
	margin: 0 0 1em;
	width: 80%;
}
#respond .form-allowed-tags {
	clear: both;
	width: 80%;
}
#respond .form-allowed-tags code {
	display: block;
}


/* =Widgets
-------------------------------------------------------------- */

.widget {
	display: block;
}
.widget-area .widget_search {
	overflow: hidden;
}
.widget-area .widget_search input {
	float: left;
}


/* =Footer
-------------------------------------------------------------- */

#colophon {
	padding: 1em 0 0;
}






/**
 *
 *
 *
 *
 *
 */


/* Aqui começa a nossa brincadeira. */

/* Obs: Sempre que possível organizar CSS partindo dos regras menos específicas
   para as mais específicas, assim preservamos a "cascata". */

/* =Global
-------------------------------------------------------------- */

/* plano de fundo do blog */
body {
	color: #444;
	background: #ddd url(images/bg.png) no-repeat center 250px;
}

/* melhora a cor do placeholder */
::-webkit-input-placeholder {
	color: #444;
}

/* listas globais */
ul,
ol {
	list-style-position: outside;
	padding-left: 20px;
	line-height: 1.5em;
}

ul li,
ol li {
	margin: 0.33em 0;
}

ul ul,
ol ol,
ul ol,
ol ul {
	margin: 0;
}

/* formulários e campos */
input[type='text'],
textarea {
	border: 1px solid #ddd;
	padding: 4px;
	color: #888;
}

p img { margin: 0; }


/* =Estrutura
-------------------------------------------------------------- */

/* define Largura padrão da página */
#page {
	width: 960px;
	margin: 1em auto;
	background: #fff;
	border-radius: 9px;
}

#main { margin: 1.67em 0; }

#page,
#main { overflow: hidden; }

/* recuo da coluna principal */
#primary { margin: 0 -280px 0 0; }

/* largura da coluna principal */
#content { margin: 0 300px 0 20px; }

/* sobescreve a largura da página nos casos específicos */
.full-width #content,
.image-attachment #content,
.error404 #content { margin: 0 15px; }

/* largura da coluna secundária (área de widgets) */
#main .widget-area {
	width: 240px;
	margin-right: 20px;
}

/* espaçamento extra entre posts */
#main .hentry {
	margin-bottom: 3em;
}

/* esconde o rodapé e a descrição do site */
#site-description,
#colophon { display: none; }

/* logo e plano de fundo do topo */
#branding {
	margin: 0;
	padding: 0.67em 0;
	background: #333 url(images/bg-header.jpg);
}

#site-title { margin: 0; }

#site-title a {
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	width: 304px;
	height: 70px;
	padding: 16px 20px;
	background: url(images/logo.png) no-repeat center;
}

/* Posicionamento da busca no header */
#branding #searchform {
	float: right;
	margin: -50px 40px 0 0;
	/* remove estilo aplicado pelo Toolbox */
	background: transparent;
	padding: 0;
}

/* formulário básico */
#searchform input#s {
	border: 1px solid #bbb;
	width: 200px;
	padding: 7px 10px;
	outline: 0;
	margin: 0 -20px 0 0;

}

#searchform #searchsubmit {
	border: 0;
	width: 20px;
	height: 20px;
	text-indent: -9999em;
	overflow: hidden;
	line-height: 0;
	margin: 0 0 0 -10px;
	background: url(images/s.png) no-repeat center;
}

/* Formulário de busca básico */
#branding input#s {
	border: 1px solid #444;
	color: #444;
	background: #888;
	border: 0;
	-webkit-box-shadow: inset 0 1px 2px #444;
	-moz-box-shadow: 	inset 0 1px 2px #444;
	box-shadow: 		inset 0 1px 2px #444;
}

#branding input#s:focus {
	background: #eee;
	-webkit-box-shadow: inset 0 1px 2px #888;
	-moz-box-shadow: 	inset 0 1px 2px #888;
	box-shadow: 		inset 0 1px 2px #888;
}

/* =Cores e tipografia
-------------------------------------------------------------- */

/* chave de cores:
_ roxo claro vivo: 	#a52272;
_ roxo escuro: 		#920080;
_ roxo wine: 		#720052;
_ preto falso: 		#262626;
_ cinza escuro: 	#444;
_ cinza claro: 		#888;

/* Links globais */
a:link {
	color: #a52272;
}

a:visited,
a:visited:hover {
	color: #888;
}

a:hover,
a:focus {
	color: #a52272;
}

a:active {
	color: #920080;
}

/* Posts */

.entry-title {
	margin: 0.33em 0;
	font-family: 'Signika', sans-serif;
	color: #262626;
}

.entry-title a {
	text-decoration: none;
	color: #262626;
}

.entry-title a:hover {
	text-decoration: underline;
	color: #a52272;
}

.entry-summary,
.entry-content {
	line-height: 1.6em;
}

/* cabeçalhos */

.entry-content h2 {
	margin: 1.33em 0 0;
	line-height: 1.33em;
}

.entry-content h3 {
	margin: 1em 0 -0.5em;
}

.entry-content h2 a,
.entry-content h3 a {
	text-decoration: none;
}

/* elemento <small> utilizado para declaração
   de fontes pesquisadas, no final dos posts */
.entry-content small,
/* no caso de citação de um artigo, mídia ou produção
   específica, utilizar o elemento <cite> */
.entry-content cite {
	font-size: 0.75em;
	color: #aaa;
}

.entry-content small a,
.entry-content cite a { color: #aaa; }

.entry-content small a:hover,
.entry-content cite a:hover { text-decoration: none; }

.entry-content .wp-caption-text {
	margin: 0;
	color: #888;
	font-size: 0.85em;
	line-height: 1.5em;

}

.entry-featured-image {
	margin: 1em 0;
}

.entry-meta {
	color: #bbb;
	line-height: 1.5em;
	font-size: 0.85em;
	position: relative;
}

.entry-meta a {
	text-decoration: none;
	color: #888;
}

.entry-meta a:hover {
	text-decoration: underline;
}

/* esconde o autor do post mesmo em blogs multi-autor */
.entry-meta .byline {
	display: none;
}

.entry-meta .post-edit-link {
	float: right;
	display: inline;
	margin-top: -2px;
	padding: 6px 12px;
	line-height: 1em;
	border-radius: 5px;
	background: #eee;
	color: #999;
}

.entry-meta .post-edit-link:hover {
	text-decoration: none;
	background: #ddd;
	color: #777;
}

/* Widgets */

.widget { margin: 1.33em 0; }

.widget ul { margin-top: 0.33em; }

.widget-area {
	color: #bbb;
	font-size: 0.85em;
}

.widget-area a {
	text-decoration: none;
	color: #888;
}

.widget-area a:hover {
	text-decoration: underline;
}

.widget_text p {
	margin: 0.33em 0 1em;
}

#menu-series-especiais a {
	color: #262626;
}

#menu-series-especiais a:hover {
	color: #a52272;
}

/* =Páginas
-------------------------------------------------------------- */

/* remove a margem do elemento "invisivel" que fazia com que
   o Chrome exibisse um espaço maior no rodapé da página */
.assistive-text { margin: 0; }

/* esconde a navegações entre posts */
.paged #content #nav-above,
.single #content #nav-above { display: none; }


/* =Comentários
-------------------------------------------------------------- */

/* formato do título da seção */
#comments-title {
	margin: 1.67em 0;
	font-weight: normal;
	line-height: 1.33em;
}

#comments-title span {
	font-weight: bold;
}

.commentlist {
	padding: 0;
	font-size: 0.85em;
	line-height: 1.5em;
	color: #444;
}

/* remove os *bullets* dos comentários */
#comments ul,
#comments ol {
	list-style: none outside none;
}

/* posicionamento dos avatares */
#comments li.comment {
	position: relative;
}

#comments .children {
	padding-left: 46px;
}

#comments article.comment,
#comments li.comment #respond  {
	margin-left: 46px;
}

#comments article.comment {
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

#comments article.comment:last-child {
	border: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

#comments .comment .avatar {
	position: absolute;
	left: 0;
}

#comments .comment-meta {
	font-size: 0.85em;
}

/* estilos tipográficos pros comentários */
#comments .comment-author .fn {
	font-weight: bold;
	font-style: normal;
}

#comments .comment-author .says {
	color: #666;
}

#comments .comment-meta a,
#comments .comment-author .fn a {
	text-decoration: none;
	color: #aaa;
}

#comments .comment-author .fn a {
	color: #a52272;
}

#respond {
	border-top: 1px solid #ddd;
	margin: 2.33em 0 0;
	padding: 2.33em 0 0;
}

.comment #respond {
	padding: 0 0 10px;
	margin: 20px 0;
	border-top: 0;
	border-bottom: 1px solid #ddd;
}

#reply-title { margin: 0; }

/* informações pouco relevantes que podem ser removidas */
#respond .comment-notes,
#respond .form-allowed-tags {
	display: none;
}

#respond label {
	font-weight: bold;
	font-size: 0.85em;
	line-height: 2em;
}

#respond label[for="subscribe-reloaded"] {
	font-weight: normal;
	color: #888;
}

#respond .form-submit input {
	padding: 5px 10px;
}


/* =Arquivos, busca e páginas
-------------------------------------------------------------- */

/* remove a margem extra das categorias descendentes */
.error404 .cat-item .children { margin: 0; }

.error404 .entry-content p:first-child { color: #888; }

.error404 .cat-item { color: #888; }

.archive .page-title,
.search-results .page-title {
	font-weight: normal;
	font-size: 1.33em;
	color: #888;
	background: #eee;
	padding: 0.33em;
}

.archive .page-title span,
.search-results .page-title span {
	font-weight: bold;
	color: #666;
}

/* =Área dos widgets
-------------------------------------------------------------- */

.widget-area #searchform #s {
	width: 200px;
	padding: 8px 0;
	outline: 0;
	border: 0 transparent;
	border-bottom: 1px solid #bbb;
	margin: 0;
}

.widget-area #searchform #s:focus {
	border-bottom: 1px solid #999;
}

.widget-area #searchform #searchsubmit {
	margin: 8px 0 0 -20px;
}

#secondary .widget-title {
	font-family: "Signika", "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	font-size: 0.85em;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

/* remove os pontos das listas de links da barra lateral */
#secondary .widget_nav_menu ul,
#secondary .widget_links ul {
	margin: 0.33em 0 1.33em;
	padding: 0;
	list-style: 0 none;
	line-height: 1.6em;
}

/* corrige a quebra do layout por causa do float: left;
	no menu páginas e redes sociais */
#menu-paginas,
#menu-redes-sociais {
	overflow: auto;
}

#menu-paginas .menu-item,
#menu-redes-sociais .menu-item {
	float: left;
	display: inline;
	margin-right: 5px;
}

/* hack fabuloso pro IE8 criar o elemento falso que é utilizado logo abaixo */
#ie8 #menu-paginas .menu-item:first-child {
	zoom: expression(
		this.runtimeStyle.zoom="1",
		this.appendChild(document.createElement("i")).className="ie-after"
		);
}

/* insere o divisor entre os links */
#menu-paginas .menu-item:first-child:after,
#menu-paginas .menu-item:first-child .ie-after {
	content: "•";
	margin: 0 3px 0 8px;
}

/* substitui texto dos links por imagem */
#menu-redes-sociais .menu-item a {
	display: block;
	width: 32px;
	height: 32px;
	overflow: hidden;
	text-indent: -9999px;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.5;
	-webkit-transition: opacity 0.15s ease-in-out;
	-moz-transition: opacity 0.15s ease-in-out;
	-o-transition: opacity 0.15s ease-in-out;
	transition: opacity 0.15s ease-in-out;
}

#menu-redes-sociais .menu-item a:hover {
	opacity: 1;
	-webkit-transition: opacity 0.15s ease-in-out;
	-moz-transition: opacity 0.15s ease-in-out;
	-o-transition: opacity 0.15s ease-in-out;
	transition: opacity 0.15s ease-in-out;
}


/* twitter .menu-item-3568 */
#menu-redes-sociais .menu-item-248 a { background-image: url(images/twitter.png); }
/* facebook .menu-item-3569 */
#menu-redes-sociais .menu-item-249 a { background-image: url(images/facebook.png); }
/* google+ .menu-item-3570 */
#menu-redes-sociais .menu-item-250 a { background-image: url(images/gplus.png); }
/* youtube .menu-item-3571 */
#menu-redes-sociais .menu-item-251 a { background-image: url(images/youtube.png); }
/* feed rss .menu-item-3572 */
#menu-redes-sociais .menu-item-252 a { background-image: url(images/rss.png); }


/* =Plugins
-------------------------------------------------------------- */

/* Posts relacionados */

.related_posts {
	clear: both;
	overflow: hidden;
}

#related_posts_thumbnails {
	list-style: none inside none;
	padding: 0;
	margin: 1em 0;
	overflow: hidden;
}

#related_posts_thumbnails li {
	float: left;
	display: inline;
	margin: 0;
	margin-right: 15px;
}

#related_posts_thumbnails img {
	padding: 2px;
	border: 1px solid #ddd;
}

#related_posts_thumbnails li a + a {
	float: right;
	display: inline;
	width: 170px;
	font-size: 0.85em;
	line-height: 1.33em;
	margin-left: 6px;
	text-decoration: none;
}

/* Compartilhe - botões */

.sharing {
	color: #bbb;
	margin: 20px 0 0;
	height: 60px;
	padding: 0 !important;
}

.sharing a {
	text-decoration: none;
	color: #a52272;
}

.sharing .sharing_label {
	font-weight: normal;
}

.sharing ul li {
	margin: 0 20px 0 0 !important;
	padding: 0 !important;
}

.sharing .share-twitter {
	clear: left;
}

div#sharing_email {
	width: 265px;
	margin-top: 5px;
	padding: 15px 15px 10px;
	border: 4px solid #ddd;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

div#sharing_email label {
	font-size: 0.85em;
	color: #666;
}

div#sharing_email input[type='text'] {
	width: 250px;
}

div#sharing_email .sharing_send {
	width: 120px;
	height: 30px;
	margin: 10px 0;
}

div#sharing_email .sharing_cancel {
	font-size: 1em;
}

div#sharing_email .errors {
	margin-top: 15px;
	color: #c00;
	font-size: 0.85em;
	line-height: 1.33em;
	background: transparent;
}

/* =Design Responsivo 
-------------------------------------------------------------- */

@media all and (max-width: 960px) {

#page {
	width: auto;
	margin: 1em;
}

/* previne que o iframe ultrapasse a largura da coluna */
.entry-content iframe { width: 100%; }

}

@media all and (max-width: 640px) {

#primary {
	margin: 0;
}

#content,
#main .widget-area {
	margin: 0 15px;
}

#main .widget-area {
	float: none;
}

}


/* =Impresso 
-------------------------------------------------------------- */

@media print {

@page { margin: 0.5cm }

* {
	background: transparent !important;
	color: #000 !important;
	box-shadow: none !important;
	text-shadow: none !important;
}

a,
a:visited { text-decoration: underline; }

#content abbr[title]:after {
	content: ' (' attr(title) ')';
}

pre,
blockquote {
	page-break-inside: avoid;
}

tr,
img { page-break-inside: avoid; }

img { max-width: 100% !important; }

p,
h2,
h3 {
	orphans: 3;
	widows: 3;
}

h2,
h3 {
	page-break-after: avoid;
}

#searchform,
#comments,
#secondary { display: none; }

#main,
#primary { overflow: visible; }

#main,
#primary,
#content { margin: 0; }

#branding { padding: 0; }

#site-title a {
	display: inline;
	overflow: visible;
	text-indent: 0;
	width: auto;
	height: auto;
	padding: 0;
	margin: 0;
	background: transparent;
	text-decoration: none;
}

#site-description { display: block; }

}

